model_config_list:{
    config:{
      name:"EurVsUs_1H_Diff",
      base_path:"/home/sailingzhang/develop/mygit_dev/train_model/servingmodel/EurVsUs_1H_Diff",
      model_platform:"tensorflow"
    },
    config:{
      name:"DAT_MT_EURUSD_M1_2015_CLOSE_DIFF",
      base_path:"/home/sailingzhang/develop/mygit_dev/train_model/servingmodel/DAT_MT_EURUSD_M1_2015_CLOSE_DIFF",
      model_platform:"tensorflow"
    },
    config:{
      name:"mtcnnmodel",
      base_path:"/home/sailingzhang/develop/mygit_dev/train_model/servingmodel/mtcnnmodel",
      model_platform:"tensorflow"
    },
    config:{
      name:"facenetmodel",
      base_path:"/home/sailingzhang/develop/mygit_dev/train_model/servingmodel/facenetmodel",
      model_platform:"tensorflow"
    },
    config:{
      name:"facenetsimilar",
      base_path:"/home/sailingzhang/develop/mygit_dev/train_model/servingmodel/facenetsimilar",
      model_platform:"tensorflow"
    }

}
